<div class="modal fade" th:attr="id=${'editModal' + author.id}"  tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	    <div class="modal-content">
	      
	      <div class="modal-header">
	        <h5 class="modal-title" id="editModalLabel">Редактирование</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      
	      <div class="modal-body">
	        <form action="#" th:action="@{/author/edit/{id}(id=${author.id})}"  method="post">
				<div>
					<label>Автор:</label><br/>
					<label>Фамилия <span  style="color:red;font-style:italic;">*</span> </label>
					<input type="text" th:value="${author.fname}"  th:name="fname" required/>
					<label>Имя <span  style="color:red;font-style:italic;">*</span> </label>
					<input type="text" th:value="${author.iname}"  th:name="iname" required/>
					<label>Отчество</label>
					<input type="text" th:value="${author.oname}"  th:name="oname" />
				</div>
		   	    <div class="modal-footer">
		     		<button type="button" class="button" data-dismiss="modal">Отмена</button>
			      	<button type="submit" id="form-submit" class="button">Сохранить</button>
			    </div>
	        </form>
	      </div>
	      
		</div>
	</div>
</div>