<span th:if="${passwordMessage}" th:utext="${passwordMessage}" style="color:red;font-style:italic;"/>
<form action="#" th:object="${person}" method="post">
	<th:block th:insert="block/service"></th:block>
	<div class="col-md-50">
    	 <div class="section-heading">
   		  	<h2>Книги </h2>
   		 </div>
	</div>
	<section class="forms">
		<div sec:authorize="hasAnyAuthority('LIB', 'ADMIN')" class="primary-button">
        	<a  th:href="@{/profile/profileGetBook/{id}(id=${person.id})}">Выдать книгу</a>
    	</div>

 	    <!-- Tables -->
        <div th:if="${!listBooks.isEmpty}" class="container-fluid">
          	<div class="row">
          		<div class="col-md-20">
              		<span th:text="${'Страница ' + (listBooks.number + 1) + ' из ' + listBooks.totalPages}"></span>
              		<div class="default-table">
                		<table style ="width: 105% ">
                  			<thead>
                    			<tr>
			                       <th width="80">Инв.№</th>
			                       <th>Книга</th>
			                       <th width="130">Дата <br/> выдачи</th>
			                       <th width="150">Дата <br/> сдачи</th>
			                       <th  width="130">Место <br/> выдачи</th> 
			                       <th sec:authorize="hasAnyAuthority('LIB', 'ADMIN')" width="130"> <th/>
                    			</tr>
                  			</thead>
                  			<tbody>
                    			<tr th:each="book : ${listBooks}">
			                      	<td th:text="${book.getNumBook}">Номер</td>
			                    	<td th:text="${book.getNameBook}">Книга</td>
			                        <td th:text="${#dates.format(book.dateBegin, 'dd-MM-yyyy')}" >Дата выдачи</td>
			                   	    <td th:text="${book.getDateEndString}" >Дата сдачи</td>
			                   	    <td th:text="${book.getNamePlace}">Место выдачи</td>
			                   	    <td sec:authorize="hasAnyAuthority('LIB', 'ADMIN')" th:if="${book.idStatus == 2}" th:text="${book.getStatusName}">Статус</td>
			                   	    <td sec:authorize="hasAnyAuthority('READER')" th:text="${book.getStatusName}">Статус</td>
				    				<td sec:authorize="hasAnyAuthority('LIB', 'ADMIN')" th:if="${book.idStatus == 1}">
			                   			<div class="primary-button">
			                     			<a  th:href="@{/profile/getInOutBook/{id}(id=${book.id})}">Сдать</a>
			                   			</div>
			                        </td>
        			 			</tr>
                  			</tbody>
                		</table>

                		<div class="row">
         					<div th:if="${listBooks.totalPages != 1}" class="form-group col-md-11 pagination-centered">
                 				 <ul class="table-pagination">
                   					<li th:unless="${listBooks.number == 0}">
                   						<a th:href="@{/profile/profileBook/(pageSize=${selectedPageSize}, page=${listBooks.number}, id=${person.id})}">Предыдущая</a>
                   					</li>
                   					<li th:if="${listBooks.number == 0}" style="pointer-events: none; cursor: default;">
                   						<a>Предыдущая</a>
                   					</li>
                   					<li th:class="${listBooks.number == (page - 1)} ? 'active'" th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                     		  			<a th:href="@{/profile/profileBook/(pageSize=${selectedPageSize}, page=${page}, id=${person.id})}" th:text="${page}"></a>
              		   				</li>
              		   				<li th:unless="${listBooks.number + 1 == listBooks.totalPages}">
                      					<a th:href="@{/profile/profileBook/(pageSize=${selectedPageSize}, page=${listBooks.number + 2}, id=${person.id})}">Следующая</a>
                  	   				</li>
                  	   				<li th:if="${listBooks.number + 1 == listBooks.totalPages}" style="pointer-events: none; cursor: default;">
                      					<a>Следующая</a>
                  	   				</li>
                       			</ul>
                 			</div>
                 
                 			<span><br/>Вывести записей на странице</span>
             				<div class="col-md-2">
                 				<select class="form-control pagination" id="pageSizeSelect">
                     				<option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
                         					th:value="${pageSize}"
                         					th:selected="${pageSize} == ${selectedPageSize}"/>
                 				</select>
             				</div>
             	 		</div>
              	
              		</div>
            	</div>
          	</div>
		</div>
	</section>
</form> 