<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <meta name="description" content="">
	    <meta name="author" content="">
	    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
	    <title>Библиотека - Справочник "Авторы"</title>
	    <th:block th:insert="block/css"></th:block>
    </head>
    <body class="is-preload">
		
		 <!-- Wrapper -->
    	 <div id="wrapper">
	
	 		<!-- Main -->
       		<div id="main">
          		<div class="inner">

           			<th:block th:insert="block/header"></th:block>	
					<th:block th:insert="block/buttonLog"></th:block>
			  		
			  		<!-- Forms -->
		            <section class="forms">
		             	<div class="container-fluid">
		               		<div class="row">
		                 		<div class="col-md-12">
			                  		<div class="col-md-6">
			                    		<div class="section-heading">
			                    			<h2>Справочник "Авторы"</h2>
			                    		</div>
			              	  		</div>
			              	  		<span th:if="${error}" th:utext="${error}" style="color:red; font-style:italic;"/> <br/>
		       					   	<button type="submit" id="form-submit" class="button" data-toggle="modal" th:attr="data-target=${'#newModal'}">Добавить</button>
	                      		    <th:block th:insert="newModel/newAuthor"></th:block>
		                  		</div>
		               		</div>
		             	</div>
		
					    <!-- Tables -->
			            <div th:if="${!listauthors.isEmpty}"  class="container-fluid">
			               	<div class="row">
			                 	<div class="col-md-12">
			                   		<span th:text="${'Страница ' + (listauthors.number + 1) + ' из ' + listauthors.totalPages}"></span>
			                   		<div class="default-table">
			                     		<table style="table-layout: fixed; width: 100% ">
			                       			<thead>
			                         			<tr>
			                          				<th/> <th/> <th/>
			                           				<th width="130"> </th>
			                           				<th width="130"> </th>
			                         			</tr>
			                       			</thead>
			                       			<tbody>
				                         		<tr th:each="author : ${listauthors}">
												    <td th:text="${author.fname}">FName</td>
													<td th:text="${author.iname}">IName</td>
												 	<td th:text="${author.oname}">OName</td>
											        <td>
									      		      <button type="submit" id="form-submit" class="button" data-toggle="modal" th:attr="data-target=${'#editModal'+author.id}">Изменить</button>
								                    </td>
								                    <td>
								                      <div class="primary-button">
								                        <a th:href="@{/author/delete/{id}(id=${author.id})}">Удалить</a>
								                      </div>
			                                          <th:block th:insert="editModel/editAuthor"></th:block>
													</td>	
				             			 		</tr>
			                       			</tbody>
			                     		</table>
			                     
			                     		<div class="row">
					            			<div th:if="${listauthors.totalPages != 1}" class="form-group col-md-11 pagination-centered">
				                      			<ul class="table-pagination">
				                       				<li th:unless="${listauthors.number == 0}">
				                       					<a th:href="@{/author/(pageSize=${selectedPageSize}, page=${listauthors.number})}">Предыдущая</a>
				                       				</li>
				                       				<li th:if="${listauthors.number == 0}" style="pointer-events: none; cursor: default;">
				                       					<a>Предыдущая</a>
				                       				</li>
				                       				<li th:class="${listauthors.number == (page - 1)} ? 'active'" th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
		                           		  				<a th:href="@{/author/(pageSize=${selectedPageSize}, page=${page})}" th:text="${page}"></a>
		                    		   				</li>
		                    		   				<li th:unless="${listauthors.number + 1 == listauthors.totalPages}">
		                            					<a th:href="@{/author/(pageSize=${selectedPageSize}, page=${listauthors.number + 2})}">Следующая</a>
		                        	   				</li>
		                        	   				<li th:if="${listauthors.number + 1 == listauthors.totalPages}" style="pointer-events: none; cursor: default;">
		                            					<a>Следующая</a>
		                        	   				</li>
		                             			</ul>
			                      			</div>
			                      
			                      			<span><br/>Вывести записей на странице</span>
					                		<div class="col-md-2">
						                    	<select class="form-control pagination" id="pageSizeSelect">
						                        	<option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
						                            		th:value="${pageSize}"
						                            		th:selected="${pageSize} == ${selectedPageSize}"/>
						                    	</select>
					                		</div>
					             		 </div>
			                   		</div>
			                 	</div>
			               	</div>
			             </div>
	                </section>
              	</div>
        	</div> 

		   <th:block th:insert="block/menu"></th:block>	
      
      	</div>

   		<th:block th:insert="block/scriptJs"></th:block>	
   
   		<script th:inline="javascript">
   		/*<![CDATA[*/
	        $(document).ready(function() {
	   			 changePageAndSize();
			});
	 
			function changePageAndSize() {
	   			 $('#pageSizeSelect').change(function(evt) {
	    		    window.location.replace("/author/?pageSize=" + this.value + "&page=1");
	  		     });
			}
		/*]]>*/
	    </script>
  	</body>
</html>