<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <meta name="description" content="">
	    <meta name="author" content="">
	    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
	    <title sec:authorize="isAuthenticated()">Библиотека - Смена пароля</title>
	    <title sec:authorize="isAnonymous()">Библиотека - Регистрация</title>>
	    <th:block th:insert="block/css"></th:block>
	</head>
	<body class="is-preload">
		 <!-- Wrapper -->
    	 <div id="wrapper">

      		<!-- Main -->
       		<div id="main">
          		<div class="inner">
					<th:block th:insert="block/header"></th:block>	
			  		<th:block th:insert="block/buttonLog"></th:block>
			  		
			  		<!-- Forms -->
		            <section class="forms">
		             	<div class="container-fluid">
		               		<div class="row">
		                 		<div class="col-md-12">
			                  		<div class="col-md-6">
			                    		<div class="section-heading">
			                    			<h2 sec:authorize="isAuthenticated()">Изменение пароля</h2>
			                    			<h2 sec:authorize="isAnonymous()">Регистрация</h2>
			                    		</div>
			              	 		 	<span th:if="${passwordMessage}" th:utext="${passwordMessage}" style="color:red;font-style:italic;"/>
        								<form sec:authorize="isAuthenticated()" action="#" th:action="@{/person/newPassword}"  method="post">
											<div>
												<label>Пароль <span  style="color:red;font-style:italic;">*</span> </label>
												<input type="password" th:name="passwordFirst"  required/>	
												<label>Подтвердите пароль <span  style="color:red;font-style:italic;">*</span> </label>
												<input type="password" th:name="passwordSecond" required/>	
											</div>
									  		<button  type="submit" id="form-submit" class="button">Сохранить</button>
										</form>
										<form sec:authorize="isAnonymous()" action="#" th:action="@{/person/newLogin}"  method="post">
		       								<div>
												<label sec:authorize="isAnonymous()">Логин <span  style="color:red;font-style:italic;">*</span> </label>
												<input sec:authorize="isAnonymous()" type="text" th:name="userName" required/>	
												<label>Пароль <span  style="color:red;font-style:italic;">*</span> </label>
												<input type="password" th:name="passwordFirst"  required/>	
												<label>Подтвердите пароль <span  style="color:red;font-style:italic;">*</span> </label>
												<input type="password" th:name="passwordSecond" required/>	
											</div>
								  			<button  type="submit" id="form-submit" class="button">Сохранить</button>
										</form>
					  	    		</div>
		                  		</div>
		               		</div>
		             	</div>
		           </section>
              	</div>
        	</div> 
     	    <th:block th:insert="block/menu"></th:block>	
       	</div>
 		<th:block th:insert="block/scriptJs"></th:block>	
   	</body>
</html>