<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/browser.min.js}" > </script>
<script type="text/javascript" th:src="@{/assets/js/breakpoints.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/transition.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/owl-carousel.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/custom.js}"></script>